.nav_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  z-index: 101;
}
.nav_contents li {
  font-size: 24px;
}
.nav_contents h2 {
  font-size: 36px;
  font-weight: 700;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  left: 0;
  background: #ccc;
}
